.adopt {
  position: relative;
  background: linear-gradient(to bottom, var(--accent), #387752, var(--accent));
  padding: 3rem 2rem 10rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  z-index: 2;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--bg);
}

.header h2 {
  font-size: clamp(2rem, 3.5vw, 3rem);
  font-weight: 800;
  color: var(--bg);
  margin-bottom: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  width: 260px;
  height: 460px;
  background: var(--bg);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imageBox {
  height: 240px;
  position: relative;
  overflow: hidden;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card:hover .imageBox img {
  transform: scale(1.1);
}

.badgeSexo {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(4px);
  padding: 6px 14px;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 800;
  color: var(--accent-dark);
  z-index: 2;
}

.details {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.details h3 {
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: var(--text-dark);
  font-weight: 700;
}

.infoBreve {
  display: flex;
  gap: 8px;
  font-size: 0.85rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 12px;
}

.cidadeText {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btnLink {
  margin-top: auto;
  background: var(--accent);
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 700;
  transition: 0.3s;
  transition: background 0.5s ease, transform 0.5s ease;
  will-change: background, transform;
}

.btnLink:hover {
  background: var(--accent-dark);
  transform: scale(1.03);
}
.footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.btnMore {
  background: var(--bg);
  color: var(--accent);
  padding: 15px 35px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 800;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 12px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  will-change: transform;
}

.btnMore:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}

.divider {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.dividerSvg {
  width: 100%;
  height: 140px;
  display: block;
  transform: rotate(180deg);
}

.shape {
  fill: var(--bg);
}

.wave1 {
  opacity: 0.25;
}
.wave2 {
  opacity: 0.5;
}
.wave3 {
  opacity: 1;
}
@media (max-width: 768px) {
  .adopt {
    padding: 3rem 0rem 7rem;
  }
  .footer {
    margin-top: 1rem;
  }

  .header {
    padding: 0 1rem;
  }

  .grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 10px 2rem 30px;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .grid::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 260px;
    height: 420px;
    scroll-snap-align: center;
  }

  .dividerSvg {
    height: 40px;
  }
}
