.adopt {
  position: relative;
  background-color: var(--accent);
  height: 500px;
  padding: 6rem 2rem 10rem;
  display: flex;
  justify-content: center;
}

.divider {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.dividerSvg {
  width: 100%;
  height: 140px;
  display: block;
  transform: rotate(180deg);
}

.shape {
  fill: var(--bg);
}

.wave1 {
  opacity: 0.25;
}

.wave2 {
  opacity: 0.5;
}

.wave3 {
  opacity: 1;
}
@media (max-width: 768px) {
  .dividerSvg {
    height: 40px;
  }
}
