.hero {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: var(--bg);

  overflow: hidden;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url("/hero-1.webp");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 900px;
  padding: 2rem;
}
.title {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 800;
  line-height: 1.1;
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.35), 0 6px 20px rgba(0, 0, 0, 0.25);
}
.subtitle {
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 1.1rem;
  color: var(--bg);
  opacity: 0.9;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.35), 0 6px 20px rgba(0, 0, 0, 0.25);
  max-width: 480px;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background-color: var(--accent);
  color: var(--bg);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.buttonOutline {
  background-color: var(--bg);
  color: var(--accent);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
}

.divider {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.dividerSvg {
  width: 100%;
  height: 140px;
  display: block;
  transform: rotate(180deg);
}

.shape {
  fill: var(--bg);
}
.wave1 {
  opacity: 0.25;
}
.wave2 {
  opacity: 0.5;
}
.wave3 {
  opacity: 1;
}

@media (max-width: 768px) {
  .dividerSvg {
    height: 40px;
  }
  .content {
    padding: 1rem;
  }
  .buttons {
    gap: 1.5rem;
  }
}
