.hero {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--bg);
  text-align: center;

  overflow: hidden;
}
.hero::before,
.hero::after,
.bg3,
.bg4 {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;
  animation: bgFade4 24s infinite;
  pointer-events: none;
}
.hero::before {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    ),
    url("/hero-1.webp");
  animation-delay: 0s;
}

.hero::after {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    ),
    url("/hero-2.webp");
  animation-delay: 6s;
}

.bg3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    ),
    url("/hero-3.webp");
  animation-delay: 12s;
}

.bg4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    ),
    url("/hero-4.webp");
  animation-delay: 18s;
}
@keyframes bgFade4 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 900px;
  padding: 2rem;
}
.title {
  font-size: clamp(1.5rem, 5vw, 4rem);
  font-weight: 800;
  line-height: 1.1;
  color: #fff;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background-color: var(--accent);
  color: var(--bg);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.buttonOutline {
  background-color: var(--bg);
  color: var(--accent);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
}

.divider {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.dividerSvg {
  width: 100%;
  height: 140px;
  display: block;
  transform: rotate(180deg);
}

.shape {
  fill: var(--bg);
}
.wave1 {
  opacity: 0.25;
}
.wave2 {
  opacity: 0.5;
}
.wave3 {
  opacity: 1;
}

@media (max-width: 768px) {
  .dividerSvg {
    height: 40px;
  }
  .buttons {
    gap: 2rem;
  }
}
