* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: none;

  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --accent: #2c5e41;
  --accent-dark: #193524;

  --m: #523d2e;
  --bg: #f5f5f5;
  --text-dark: #1f1f1f;
}
html {
  translate: no;
}
html,
body {
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  background-color: black;
}
